.browse-properties {
  display: flex;
  margin-top: 72px;
  height: inherit;
  width: 58%;
  border-right: 1px solid lightgray;
  letter-spacing: -1px;
}


.browse-map {
  margin-top: 72px;
  width: 42%;
  height: inherit;
  border: 1px solid black;
}

.browse-header {
  margin-top: 45px;
  margin-bottom: 45px;
}

.browse-index {
  width: 100%;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  overflow: scroll;
}

.browse-page {
  height: calc(91vh);
  display: flex;
}

.property-image {
  text-decoration: none;
}