.date-picker-container {
  position: absolute;
  margin-top: 20px;
  width: 100%;

  > div {
    margin-left: auto; margin-right: auto;
    border-radius: 20px;
  }

  > div > div > div > div > div {
    border-radius: 20px;
  }
}