.icon-list {
  position: absolute;
  margin-left: -115px;
  font-size: 22px;
}

.icon-list i {
  margin-left: 5px;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  margin-top: -5px;
}

.icon-list a:link{
  color: gray;
}
.icon-list a:visited{
  color: gray;
}
.icon-list a:hover{
  color: gray;
}
.icon-list a:focus{
  color: gray;
}
.icon-list a:active{
  color: gray;
}