.icon-list {
  position: absolute;
  margin-left: -80px;
  font-size: 22px;
}

.icon-list i {
  margin-left: 5px;
}

.icon-list a:link{
  color: gray;
}
.icon-list a:visited{
  color: gray;
}
.icon-list a:hover{
  color: gray;
}
.icon-list a:focus{
  color: gray;
}
.icon-list a:active{
  color: gray;
}