#session-modal {
  display: none ;
}

.close-modal {
  position: absolute;
  font-size: 150%;
  font-family: inherit;
  border: 0;
  padding: 0;
  margin-left: 5%;
  margin-top: 3%;
  background-color: inherit;
}

.close-modal:hover {
  cursor: pointer;
}

.modal-screen{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-form{
  position: relative;
  overflow-y: auto;
  width: 575px;
  height: 575px;
  min-width: 300px;
  min-height: 300px;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3%;
  background: whitesmoke;
}

@media only screen and (max-width: 500px) {
  .modal-form {
    width: 100%;
  }
}

.login-form-container {
  margin-left: 8%;
  margin-right: 8%;
  font-size: 14px;
}

.modal-header {
  display: flex;
}

.modal-form-text {
  color: black;
  font-size: 75%;
  text-align: center;
  flex-grow: 1;
  font-weight: bold;
  margin-top: 5%;
  padding-bottom: 5%;
  border-bottom: 1px solid lightgray;
}


.login-form input[type=text], .login-form input[type=password]{
  width: 100%;
  padding: 18px 18px;
  border: 1px solid gray;
  border-radius: 8px;
  margin-bottom: 10px;
}

.login-form input[type=submit] {
  width: 100%;
  border: 1px solid gray;
  border-radius: 8px;
  margin-bottom: 5px;
  padding: 12px 12px;
  font-size: 100%;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
  background-image: linear-gradient(to right, #e51f4e, #d60567);
}


::placeholder {
  font-size: 15px;
}

.login-form-box p {
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: -10px;
  margin-top: 10px;
}

.modal-session-check {
  border: 0;
  padding: 0;
  background-color: inherit;
  font-size: 15px;
  margin-left: 50px;
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 20px;
}

.modal-session-check:hover, .demo-user:hover, .login-form input[type=submit]:hover{
  cursor: pointer;
}

.demo-user {
  border: 0;
  padding: 12px;
  background-color: inherit;
  font-size: 15px;
  width: 84%;
  margin-left: 45px;
  border: 1px solid gray;
  border-radius: 8px;
  color: white;
  background-image: linear-gradient(to right, #e51f4e, #d60567);
  margin-top: 30px;
}

#errors {
  margin-top: -15px;
  display: none
}
