.nav-bar {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 4px;
  position: fixed;
} 

.home-link {
  font-weight: bold;
  padding-left: 60px;
  margin-top: 30px;
  font-size: 20px;
  text-decoration: none;
  letter-spacing: -1px;
}

.home-link:link{
  color:white;
}
.home-link:visited{
  color:white;
}
.home-link:hover{
  color:white;
}
.home-link:focus{
  color:white;
}
.home-link:active{
  color:white;
}

.profile-list-icon {
  background-color:inherit;
  border: 1px solid lightgray; 
  border-radius: 21px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -7px;
  display: flex;
  color: grey;
  background-color: white;
  align-self: flex-end;
}

.profile-list-icon:hover {
  cursor: pointer;
  box-shadow: -2px 2px 6px lightgray;
}

.profile-list {
  font-size: 13px;
  margin-top: 5px;
  
}
.profile-icon {
  font-size: 20px;
  border: 0;
  padding: 0;
  margin-left: 15px;
  margin-top: 2%;
  background-color: inherit;
}

.profile-dropdown {
  margin-right: 70px;
  display: flex;
  // float: left;
  flex-direction: column;
  justify-content: right;
}

.profile-name {
  font-size: 18px;
  text-transform: uppercase;
  border: 0;
  padding: 0;
  margin-left: 10px;
  margin-top: 1%;
  background-color: inherit;
}

.profile-dropdown-items {
  border: 1px solid lightgray;
  display: none;
  margin-top: 45px;
  margin-right: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-self: right;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  right: 0;
  background-color: white;  
  border-radius: 15px;
  // justify-content: left;
}

.profile-dropdown-items button {
  border: 0;
  background-color: transparent;
  width: inherit;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  width: 225px;
  font-size: 70%;
  text-align: left;
}

.profile-dropdown-items button:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

.login-button {
  font-weight: bold ;
}

.nav-search-form {
  display: flex;
}

.nav-search{
  display: none;
  margin-top: -6px;
  outline: none;
  padding: 8px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 72px;
  margin-bottom: 11px;
  width: 300px;
  text-align: left;
  margin-left: -20px;
  justify-content: space-between;
}

.nav-search:hover {
  cursor: pointer;
  box-shadow: 2px 2px 6px lightgray;
}

.nav-search-icon:hover {
  cursor: pointer;
}

.nav-search i {
  color: white;
  font-size: 80%;
}

.nav-search div {
  margin-top: 4px;
  font-weight: bold;
  margin-left: 15px;
  font-size: 75%;
}

.nav-search-icon {
  border: 0;
  padding: 0;
  width: 25px;
  height: 25px;
  min-width: 25px;
  border-radius: 50%;
  background-color: #fe385c;
  margin-right: 0px;
}

.nav-full-search {
  display: none;
  margin-bottom: 11px;
  margin-top: -35px;
}
