.profile-show {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
  height: 100vh;
}

.profile-show li {
  list-style: none;
  width: 50%;
}

.profile-show div {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -.5px;
  margin-top: 25px;
}

.profile-show p {
  font-size: 15px;
  letter-spacing: -.5px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.profile-header {
  letter-spacing: -1.5px;
  margin-bottom: 70px;
}

.view-trips {
  border: 1px solid gray;
  width: 25%;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.view-trips:hover {
  cursor: pointer;
}
