.property-listing {
  border-top: 1px solid lightgray;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 250px;
  display: flex;
}

.property-image {
  border: 1px solid black;
  border-radius: 20px;
  width: 40%;
  min-width: 40%;
  height: 100%;
  margin-right: 2%;
}

.property-content {
  white-space: nowrap;
  width: 60%;
  height: 100%;
  text-overflow: clip;
  text-decoration: none;
  color: grey;
  display: flex;
  flex-direction: column;
}

.property-content:hover {
  cursor: pointer;
}

.property-description {
  color: black;
}

.property-capacity {
  margin-top: 20px;
  display: flex;
  font-size: 13px;
}

.property-capacity div {
  display: flex;
}

.bullet-marker {
  margin-left: .5vw;
  margin-right: .5vw;
}

.property-amenities {
  font-size: 13px;
  margin-top: 5px;
  flex-grow: 2.4;
}

.property-content-bottom {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}

