.property-detail {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 100px;
  letter-spacing: -1px;
  font-size: 15px;
}

.property-detail-description {
  font-size: 28px;
}

.property-detail-header {
  margin-top: -8px;
  margin-bottom: 17px;
}

.property-detail-image {
  border: 1px solid black;
  width: 100%;
  height: 400px;
}

.property-full-description {
  height: 1000px;
  width: 58%;
  border: 1px solid black;
}