.property-detail {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 100px;
  letter-spacing: -1px;
  font-size: 15px;
}

.property-detail-description {
  font-size: 28px;
}

.property-detail-header {
  margin-top: -8px;
  margin-bottom: 17px;
}

.property-detail-image {
  width: 100%;
  height: 400px;
  display: flex;

  border-radius: 20px
}

.main-image {
  width: 50%;
}

.main-image img {
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 20px 0 0 20px;
}

.sub-image {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.sub-image img {
  width: 50%;
  height: 50%;
  padding: 5px
}

.sub-image-2 {
  border-radius: 0 20px 0 0;
}

.sub-image-4 {
  border-radius: 0 0 20px 0;
}

.property-full-description {
  height: 730px;
  width: 100%;
  display: flex;
}

.property-full-description-text {
  width: 60%;
}

.property-make-reservation {
  width: 40%;
}

.moving-reservation {
  margin-top: 40px;
  height: 275px;
  width: 27.5%;
  margin-left: 4.4%;
  box-shadow: 0px 3px 15px lightgray;
  border-radius: 10px;
  border: .5px solid lightgray;
  // border: 1px solid black;
  position: absolute;
}

.reservation-content {
  height: 100%;
  margin-left: 6%;
  margin-right: 6%;
  display: flex;
  flex-direction: column;
}

.review-price {
  height: 27%;
  display: flex;
  justify-content: space-between;
}

.property-full-price, .property-full-review {
  margin-top: auto;
  margin-bottom: auto;
}

.calendar-guest {
  height: 41%;
  border: 1px solid #b0b0b0;
  border-radius: 10px;
}

.property-full-calendar {
  height: 50%;
  display: flex;
}

.property-full-check-in, .property-full-check-out {
  width: 50%;
}

.property-full-check-in {
  border-right: 1px solid #b0b0b0;
}

.property-full-guest {
  height: 50%;
  border-top: 1px solid #b0b0b0;
}

.property-full-guest div{
  margin-bottom: 5px  ;
}

.check-availability {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.availability-button {
  width: 100%;
  border: none;
  padding: 18px;
  background-image: linear-gradient(to right, #e51f4e, #d60567);
  color: white;
  border-radius: 8px
}

.availability-button:hover {
  cursor: pointer;
}


.property-review {
  height: 1000px;
  border-top: 1px solid lightgray;
}

.back-symbol {
  font-size: 12px;
}

.back-browse:link{
  color: black;
}
.back-browse:visited{
  color: black;
}
.back-browse:hover{
  color: black;
}
.back-browse:focus{
  color: black;
}
.back-browse:active{
  color: black;
}

.property-detail-capacity {
  margin-top: 40px;
  display: flex;
  font-size: 15px;
  padding-bottom: 25px;
  border-bottom: 1px solid lightgray;
}

.property-detail-capacity div {
  display: flex;
}

.detail-bullet-marker {
  margin-left: .5vw;
  margin-right: .5vw;
}

.property-full-paragraph {  
  margin-top: 30px;
  border-bottom: 1px solid lightgray
}

.h2 {
 font-size: 22px;
}

.property-detail-amenities {
  margin-top: 30px;
}

.property-detail-amenities h2 {
  margin-bottom: 30px;
}

.property-full-review {
  display: flex;
}

.reservation-price {
  font-size: 22px;
  font-weight: bold;
}

.reservation-night {
  margin-top: 5px;
}

.calendar-guest input {
  border: 0;
  padding: 0;
}



.calendar-guest h3 {
  font-size: 12px;
  padding-left: 10px;
}

.paragraph-text {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 25px;
}

.amenity-icons {
  display: flex;
  flex-wrap: wrap;
}

.amenity-icons div{
  font-size: 18px;
  width: 50%;
  margin-bottom: 20px;
}

.show-all-amenities {
  text-align: center;
  width: 25%;
  border: .5px solid black;
  border-radius: 10px;
  padding: 15px;
  margin-top: 12px;
}

.show-all-amenities:hover {
  cursor: pointer;
  background-color: rgb(241, 241, 241);
}

.amenity-icons i {
  width: 8%;
}