.review-header {
  display: flex;
  font-size: 23px;
  margin-top: 25px;
  font-weight: bold;
}

.user-reviews {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.user-review-content {
  width: 50%;
  padding-bottom: 130px;
}

.user-review-name {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 50px;
}
.user-review-body{
  font-size: 15px;
}