.splash-nav {
  display: flex;
  flex-direction: column;
}

.search-bar {
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 40px;
  margin-top: 75px;
  min-width: 700px;
  width: 60%;
  padding: 6px;
  display: flex;
  align-self: center;
}

.search-bar div {
  background-color: inherit;
  border-radius: 40px;
  border: 0;
  padding-left: 25px;
  padding-top: -5px;
}

.search-bar h3 {
  font-size: 12px;
  text-align: left;
  margin-bottom: 5px;
  margin-top: 7px;
}

.search-bar div:hover{
  cursor: pointer;
  background-color: #e0e0e0;
}

::placeholder {
  font-size: 14px;
  text-align: left;
}

.search-bar input {
  background-color: inherit;
  border: 0;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 0px;
}

.search-bar input[type=date] {
  margin-top: 1px;
}

input[type=date]::-webkit-datetime-edit { 
	font-family: 'Montserrat', sans-serif; 
  color: grey;
  letter-spacing: -1px;
}

input[type=date]::-webkit-calendar-picker-indicator {
    background: transparent;
    color: transparent;
    cursor: pointer;
    height: 20px;
    right: 0;
    top: 0;
    width: 105px;
    margin-left: -105px;
}

.search-bar input:focus{
  outline: none;
}

.search-location {
  width: 40%;
}

.search-location input {
  cursor: text;
}

.search-check-in {
  width: 21%;
}

.search-check-out {
  width: 21%;
}

.search-guests {
  width: 28%;
}

.search-bar i {
  color: white;
  font-size: 125%;
}

.search-submit {
  border: 0;
  padding: 0;
  width: 45px;
  height: 45px;
  min-width: 45px;
  border-radius: 50%;
  background-color: #fe385c;
  margin-top: 3px;
  margin-right: 3px;
}

.search-submit:hover {
  cursor: pointer;
  background-color: #d60567;
}
