/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



body {
  margin: 0;
  font-family: 'Montserrat', sans-serif; 

  background-color: white;
  /* background-position: center; */
}

.splash-background {
  position: absolute;
  margin-top: -9.1%;
  width: 100%;
  height: 100%;
  background-image: url('splash-background.jpeg'); 
  /* https://unsplash.com/photos/cYrMQA7a3Wc */
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-attachment: local;
  z-index: -1;
}

@media only screen and (max-width: 1200px) {
  /* body {
    background-size: 100vw 90vh;
  } */
}

@media only screen and (max-width: 1000px) {
  /* body {
    background-size: 100vw 90vh;
  } */
}

@media only screen and (max-width: 800px) {
  /* body {
    background-size: 100vw 80vh;
  } */
}

@media only screen and (max-width: 600px) {
  /* body {
    background-size: 100vw 75vh;
  } */
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* 
.header-link {
  text-decoration: none;
}

.login-signup > * {
  text-decoration: none;
} */





