/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



body {
  margin: 0;
  font-family: 'Montserrat', sans-serif; 

  background-color: white;
  /* background-position: center; */
}

.splash-background {
  position: absolute;
  margin-top: -8.5vw;
  width: 100%;
  height: 90%;
  background-image: url('splash-background.jpeg'); 
  /* https://www.pexels.com/photo/green-and-brown-sailing-boat-1796727/ */
  background-size: 100vw 94vh;
  background-repeat: no-repeat;
  background-attachment: local;
  z-index: -3;
}

@media only screen and (max-width: 900px) {
  .splash-background {
    margin-top: -11vw;
  }
}

@media only screen and (max-width: 700px) {
  .splash-background {
    margin-top: -15vw;
  }
}

@media only screen and (max-width: 600px) {
  /* body {
    background-size: 100vw 75vh;
  } */
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* 
.header-link {
  text-decoration: none;
}

.login-signup > * {
  text-decoration: none;
} */





